img {
  max-height: 100%;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.7);
}

.rating {
  width: 100%;
  height: 100%;
  background-image: url('../../resources/main-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rating-body-container {
  height: 85vh;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.rating-body-container::-webkit-scrollbar { width: 0; }

.rating-title,
.rating-body {
  margin: auto;
  width: 40vw;
  table-layout: fixed;
  border-collapse: collapse;
}


.rating-title {
  th {
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    font-size: 2rem;
    font-family: 'Arial Black';
    font-weight: 700;
  }
}

.rating-body {
  td {
    width: 50%;
    height: 10rem;
    text-align: center;
    vertical-align: center;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    font-size: 1rem;
    font-family: 'Arial Black';
    font-weight: 700;
    padding-bottom: 3rem;
  }

}

.loser {
  img {
    transform: scaleX(-1);
  }
}