.preview-container___root {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-basis: 18wh;
  margin: 2rem;
}

.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 18vh;
  align-items: flex-start;
}

.fighter-preview___img {
  height: 30vh;
}

.fighter-preview___right 
.fighter-preview___img {
  transform: scaleX(-1);
}

.fighter-preview__name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 0.9rem;
  font-family: 'Arial Black';
  font-weight: 700;
}
