html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
}

#root>div{
  width: 100%;
  height: 100%;
}

.startScreen-menu {
    position: absolute;
    left: 1rem;
    top: 1rem;
    cursor: pointer;
    color: whitesmoke;
}